<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Стартовая страница</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Home)}"/>

<div class="container">
    <br>
    <h1>Товары</h1>

    <!-- Filter by Cost -->
    <form th:action="@{/}" method="get">
        <input th:value="${minCost}" th:name="minCost" type="number" placeholder="Минимальная цена">
        <input th:value="${maxCost}" th:name="maxCost" type="number" placeholder="Максимальная цена">
        <button type="submit" class="btn btn-primary">Фильтровать</button>
    </form>

    <!--  -->
    <span><br>Элементов на странице<br></span>
    <div class="form-group col-md-1">
        <select class="form-control pagination" id="pageSizeSelect">
            <span>Элементов на странице</span>
            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}" th:value="${pageSize}"
                    th:selected="${pageSize} == ${selectedPageSize}"></option>
        </select>
    </div>

    <!-- Table with Products -->
    <span th:if="${page.getContent().size() == 0}">Товаров нет</span>
    <div th:if="${page.getContent().size() != 0}">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Цена</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="product : ${page.getContent()}" th:attr="prod_index=${product.id}">
                <td th:text="${product.id}"/>
                <td th:text="${product.title}"/>
                <td>
                    <span th:text="${product.cost}"
                          th:classAppend="${product.cost > 300.0} ? 'badge badge-danger' : ''"/>
                </td>
                <td>
                    <a th:href="@{'/info/' + ${product.id}}" th:text="Информация"/>
                    <a th:href="@{'/product/edit/' + ${product.id}}" th:text="Изменить"/>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- Pagination -->
        <div th:if="${page.totalPages != 1}" class="form-group col-md-11 pagination-centered">
            <ul class="pagination">
                <li class="page-item" th:class="${page.number == 0} ? disabled">
                    <a class="page-link" th:href="@{/(pageSize=${selectedPageSize}, pageNumber=1)}">&laquo;</a>
                </li>
                <li class="page-item" th:class="${page.number == 0} ? disabled">
                    <a class="page-link"
                       th:href="@{/(pageSize=${selectedPageSize}, pageNumber=${page.number})}">&larr;</a>
                </li>
                <li class="page-item" th:class="${page.number == (pageNumber - 1)} ? 'active pointer-disabled'"
                    th:each="pageNumber : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link" th:href="@{/(pageSize=${selectedPageSize}, pageNumber=${pageNumber})}"
                       th:text="${pageNumber}"></a>
                </li>
                <li class="page-item" th:class="${page.number + 1 == page.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{/(pageSize=${selectedPageSize}, pageNumber=${page.number + 2})}">&rarr;</a>
                </li>
                <li class="page-item" th:class="${page.number + 1 == page.totalPages} ? disabled">
                    <a class="page-link"
                       th:href="@{/(pageSize=${selectedPageSize}, pageNumber=${page.totalPages})}">&raquo;</a>
                </li>
            </ul>
        </div>
        <!-- -->
    </div>
</div>
<script th:src="@{/js/app.js}"></script>
</body>
</html>